{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="title"><b> News Sources </b></h3>

        </div>
        {% for source in sources %}

        <div class="col-sm-4 card w3-sand">
            <p class="text"><a href="/article/{{source.id}}" target="_blank">{{source.name}}</a></p>
            <!-- Click to view the articles -->
            <p>{{source.description}}</p>

        </div>
        {% endfor %}

    </div>
</div>
{% endblock%}