{% extends 'base.html'%}

{% block content %}
<div class="container">

    <div class="row">
        <h3 class="title"><b> News Sources </b></h3>
        {% for source in sources %}
        <section class="col-sm-4 card w3-sand">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{source.name}}</h2>
                    <p class="card-text">{{source.description | truncate}}</p>
                    <a href="/article/{{source.id}}" class="btn btn-primary">Articles</a>
                </div>
            </div>
        </section>
        {% endfor %}

    </div>
</div>
{% endblock%}